<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../components/head %>
        <link rel="stylesheet" type="text/css" href="/css/_profile.css" />
        <link rel="stylesheet" type="text/css" href="/css/_passwordRules.css" />
        <link rel="stylesheet" type="text/css" href="/css/_modal.css" />
        <link rel="stylesheet" type="text/css" href="/css/_form.css" />
        <title>Profile | Checkers</title>
    </head>
    <body>
        <%- include('../components/header', { auth }); %>

        <div class="container">
            <div class="profile">
                <div class="profile__container">
                    <h2 class="profile__title">Profile</h2>

                    <div id="app__image">
                        <div class="profile__group">
                            <h4 class="profile__subtitle">Profile Picture</h4>

                            <div class="profile__input__group">
                                <div class="profile__input__group__section">
                                    <img ref="image" :src="imageURL ? imageURL : '/assets/default.jpg'" data-src="<%= img %>" alt="" class="profile__img" />

                                    <label class="profile__input__upload__label" for="uploaded_image" class="custom-file-upload">
                                        <i class="fa fa-cloud-upload"></i> Custom Upload
                                    </label>

                                    <input
                                        v-on:change="inputChanged"
                                        ref="input"
                                        type="file"
                                        name="uploaded_image"
                                        id="uploaded_image"
                                        accept="image/*"
                                        class="profile__input__upload"
                                    />
                                </div>

                                <div class="profile__input__group__section">
                                    <button
                                        class="profile__button profile__button__delete"
                                        type="button"
                                        v-bind:class="{ loading: deleteLoading }"
                                        @click="deleteProfileImage"
                                        disabled
                                        v-bind:disabled="imageURL === ''"
                                    >
                                        <div v-if="!deleteLoading">Delete</div>
                                    </button>

                                    <button
                                        class="profile__button"
                                        disabled
                                        v-bind:disabled="!imageSelected"
                                        v-bind:class="{ loading: saveLoading }"
                                        @click="handleSubmit"
                                    >
                                        <div v-if="!saveLoading">Save</div>
                                    </button>
                                </div>
                            </div>

                            <message :close="closeSuccessMessage" :message="successMessage" v-if="successMessage" type="success"></message>
                            <message :close="closeErrorMessage" :message="errorMessage" v-if="errorMessage" type="error"></message>
                        </div>
                    </div>

                    <div id="app__username">
                        <div class="profile__group">
                            <h4 class="profile__subtitle">Username</h4>

                            <input
                                ref="username"
                                type="text"
                                class="profile__input"
                                data-value="<%= username %>"
                                value="<%= username %>"
                                v-model="username"
                                :disabled="saving"
                            />

                            <span class="profile__search" v-bind:class="loadingClass"></span>

                            <div class="profile__status" v-if="valid || invalid" v-bind:class="{invalid, error: available === false}" v-cloak>
                                <span v-if="available === true && !loading && valid"> {{ username }} is available </span>
                                <span v-else-if="available === false && !loading"> {{ username }} is taken </span>
                                <span v-else-if="!loading">
                                    Invalid username
                                </span>
                            </div>

                            <button class="profile__button" disabled v-bind:disabled="unchanged" @click="save" v-bind:class="{ loading:saving }">
                                <div v-if="!saving">Save</div>
                            </button>

                            <message :close="closeSuccessMessage" :message="successMessage" v-if="successMessage" type="success"></message>
                            <message :close="closeErrorMessage" :message="errorMessage" v-if="errorMessage" type="error"></message>
                        </div>
                    </div>

                    <div id="app__email">
                        <div class="profile__group">
                            <h4 class="profile__subtitle">Email</h4>

                            <input
                                ref="email"
                                type="text"
                                class="profile__input"
                                data-value="<%= email %>"
                                value="<%= email %>"
                                v-model="email"
                                :disabled="saving"
                            />
                            <span class="profile__search" v-bind:class="loadingClass"></span>

                            <div class="profile__status" v-if="valid || invalid" v-bind:class="{ invalid, error: available === false }" v-cloak>
                                <span v-if="!loading && invalid">
                                    Invalid email
                                </span>
                            </div>

                            <button class="profile__button" disabled v-bind:disabled="unchanged" @click="save" v-bind:class="{ loading:saving }">
                                <div v-if="!saving">Save</div>
                            </button>

                            <message :close="closeSuccessMessage" :message="successMessage" v-if="successMessage" type="success"></message>
                            <message :close="closeErrorMessage" :message="errorMessage" v-if="errorMessage" type="error"></message>
                        </div>
                    </div>

                    <div id="app__password">
                        <div class="profile__group">
                            <h4 class="profile__subtitle">Password</h4>

                            <input type="password" class="profile__input" v-model="passwordCurrent" :disabled="saving" placeholder="Current password" />

                            <input type="password" class="profile__input" v-model="passwordNew" :disabled="saving" placeholder="New Password" />

                            <input type="password" class="profile__input" v-model="passwordNewConf" :disabled="saving" placeholder="Confirm new password" />
                            <span class="profile__search" v-bind:class="loadingClass"></span>

                            <div class="profile__status" v-if="!emptyNew" v-bind:class="{ invalid }" v-cloak>
                                <span v-if="!validPassword">Password doesn't meet the requirements</span>
                                <span v-else-if="!passwordsMatch">Passwords don't match</span>
                            </div>

                            <div class="form__row">
                                <password-rules
                                    :password="passwordNew"
                                    :show-validation="passwordNew !== ''"
                                    :rules="passwordRules"
                                    :show="passwordRulesActive"
                                    :toggle="togglePasswordRules"
                                ></password-rules>
                            </div>

                            <button
                                class="profile__button"
                                @click="save"
                                type="submit"
                                disabled
                                :disabled="empty || !validPassword || !passwordsMatch"
                                v-bind:class="{ loading:saving }"
                            >
                                <div v-if="!saving">Save</div>
                            </button>

                            <message :close="closeSuccessMessage" :message="successMessage" v-if="successMessage" type="success"></message>
                            <message :close="closeErrorMessage" :message="errorMessage" v-if="errorMessage" type="error"></message>
                        </div>
                    </div>

                    <div id="app__delete">
                        <div class="profile__group">
                            <h4 class="profile__subtitle">Delete Account</h4>

                            <p>Confirm your password</p>
                            <input type="password" class="profile__input" v-model="password" :disabled="loading" placeholder="Password" />

                            <div class="form__row">
                                <message :close="closeErrorMessage" :message="errorMessage" v-if="errorMessage" type="error"></message>
                            </div>

                            <button class="profile__button" @click="deletePassword" disabled :disabled="password === ''">Delete</button>

                            <modal :show="showModal" v-cloak>
                                <h4 class="modal__title">Are you sure?</h4>
                                <p>Your account will be lost forever.</p>

                                <div class="modal__options">
                                    <button class="modal__button" @click="cancel">Cancel</button>
                                    <button class="modal__button modal__button--red" @click="confirmDelete" v-bind:class="{ loading }">Delete</button>
                                </div>
                            </modal>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/js/validator.bundle.js"></script>
        <script src="/js/vue.bundle.js"></script>
        <script src="/js/profile.bundle.js"></script>
    </body>
</html>
