<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../components/head %>
        <title>Leaderboard | Checkers</title>
    </head>

    <body>
        <%- include('../components/header', { auth }); %>

        <div id="app">
            <div class="container">
                <div class="leaderboard__container">
                    <h1 class="leaderboard__title">Leaderboard</h1>

                    <% if (error) { %>
                    <p>Error: no data found</p>
                    <% } else { %>

                    <div class="leaderboard__overflow">
                        <table class="leaderboard__table">
                            <tr>
                                <th>Position</th>
                                <th>Username</th>
                                <th>Wins</th>
                                <th>Loses</th>
                                <th>Draws</th>
                                <th>Games</th>
                            </tr>

                            <div v-if="!loadedData">
                                <p>IF</p>
                                <% for(var i=0; i < data.length; i++) { %>
                                <tr>
                                    <td><%= i + 1 %></td>
                                    <td><%= data[i].username %></td>
                                    <td><%= data[i].win %></td>
                                    <td><%= data[i].lose %></td>
                                    <td><%= data[i].draw %></td>
                                    <td><%= data[i].games %></td>
                                </tr>
                                <% } %>
                            </div>

                            <div v-else v-cloak>
                                <tr v-for="(user, index) in data" v-cloak>
                                    <td>{{ index + 1 + offset * interval }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.win }}</td>
                                    <td>{{ user.lose }}</td>
                                    <td>{{ user.draw }}</td>
                                    <td>{{ user.games }}</td>
                                </tr>
                            </div>
                        </table>
                    </div>

                    <p v-if="!loadedData">Page 1 of <%= Math.ceil((total * 2) / 50) %></p>
                    <p v-else v-cloak>Page {{ offset + 1 }} of {{ Math.ceil((total * 2) / interval) }}</p>

                    <p v-if="!loadedData">
                        <button @click="handleBack" 
                            <%= !back ? 'disabled' : '' %>
                        > 
                        Back</button>
                        <button @click="handleNext" 
                            <%= !next ? 'disabled' : '' %>
                        >Next</button>
                        </p>
                    <p v-else v-cloak>
                        <button @click="handleBack" :disabled="!back || <%= !back %>">Back</button>
                        <button @click="handleNext" :disabled="!next || <%= !next %>">Next</button>
                    </p>

                    <% } %>
                </div>
            </div>
        </div>

        <script src="/js/vue.bundle.js"></script>
        <script src="/js/leaderboard.bundle.js"></script>
    </body>
</html>
